<div class="card">
  <a class="card" href="/movie/<%= movie._id %>">
    <div class="card__image">
      <img src="<%= movie.image %>" alt="<%= movie.title %>" />
    </div>
  </a>

  <div class="card__body">
    <h2 class="card__title">
      <%= movie.title %>
    </h2>

    <p class="card__description">
      <%= movie.description %>
    </p>

    <p class="card__rating">
      Rating: <span>
        <%= movie.rating %>
      </span>
    </p>

    <p class="card__duration">
      Duration: <span>
        <%= movie.duration %>
      </span>
    </p>
  </div>
</div>