<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/base.css">
  <link rel="stylesheet" href="../moviedetail.css">
  <title>Movie Details</title>
</head>

<body>
  <!-- Header -->
  <%- include("../partials/header.ejs") %>

    <div class="container">

      <img src="<%= movie.image %>" alt="<%= movie.title %>" class="movie__detail__img" />



      <div class="movie__detail__content">
        <h3>
          <%= movie.title %>
        </h3>


        <p>
          <%= movie.description %>
        </p>

        <p>
          Rating: <%= movie.rating %>
        </p>

      </div>

      <div class="movie__detail__btn">

        <button>Add to my list</button>

        <button>Back to home</button>

        <% if (user) { %>
          <a href="/movie/edit/<%= movie._id %>">
            <button>Edit Movie</button>
          </a>
          <form action="/movies/<%= movie._id %>?_method=DELETE" method="POST">
            <button>Delete</button>
          </form>
          <% } %>

      </div>


    </div>



</body>

</html>